.App {
  text-align: center;
}

.app__form {
  position: fixed;
  bottom: 0;
  width: 60%;
  padding: 6.5px;
  margin: 20px 350px;
  z-index: 1;
  background-color: #e9e9ef;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}
